*{
    margin: 0 ;
    padding: 0 ;
    font-family: Arial, sans-serif;
}
/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 10px 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

/* Navigation Bar */
.container-nav-bar {
    background-color: #34495e;
    position: relative;
    z-index: 1000;
}

.nav-toggle {
    display: none;
    background: none;
    border: none;
    color: #ecf0f1;
    font-size: 24px;
    cursor: pointer;
}

.nav-toggle-icon::before {
    content: '☰'; /* Hamburger icon */
}

.container-nav-bar {
    background-color: #34495e;
    position: relative;
}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    z-index: 1000;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu li a {
    color: #ecf0f1;
    text-decoration: none;
    padding: 8px 15px;
    transition: background-color 0.3s ease;
}

.nav-menu li a:hover {
    background-color: #2980b9;
    border-radius: 4px;
}

.nav-menu.active {
    display: flex;
    z-index: 1000; /* Asegura que el menú esté por encima de otros elementos */
}
@media (max-width: 768px) {
    .header-content {
        flex-direction: row;
        justify-content: space-between;
    }

    .container-nav-bar {
        background-color: transparent; /* Hide background when collapsed */
    }

    .nav-toggle {
        display: block;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #34495e;
        width: 50%;
        text-align: center;
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-menu li {
        margin: 10px 0;
    }

    .nav-menu li a {
        display: block;
        padding: 10px;
    }
    .header-title {
        margin-left: 0;
        font-size: 20px;
    }
}
/* Botones flotantes */
.floating-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.main-btn {
    background-color: #007bff; /* Color de fondo del botón */
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
    color: white; /* Color del ícono */
    font-size: 24px; /* Tamaño del ícono */
}

.main-btn i {
    margin: 0; /* Alinea el ícono sin margen */
}

.main-btn:hover {
    background-color: #0056b3; /* Color de fondo del botón al pasar el cursor */
}

.floating-menu {
    position: absolute;
    bottom: 80px; /* Ajusta la distancia desde el fondo */
    right: 0;
    display: none; /* Oculto por defecto */
    flex-direction: column;
}

.floating-menu.active {
    display: flex; /* Muestra el menú cuando la clase 'active' está presente */
}

.floating-menu-btn {
    background-color: #6aabff; /* Color de fondo de los botones del menú */
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 5px 0;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.floating-menu-btn:hover {
    background-color: #26289b; /* Color de fondo de los botones del menú al pasar el cursor */
}
/* PDF */
.pdf-container {
    width: 99% ; /* Ajusta el ancho para que ocupe el 100% del contenedor padre */
    height: 600px ; /* Ajusta la altura en proporción a la altura de la ventana de visualización */
    border: 1px solid #ccc; /* Opcional: agregar borde alrededor del contenedor */
    overflow: hidden; /* Opcional: ocultar cualquier contenido que se desborde */
    position: relative;
}

.pdf-container iframe {
    width: 99%;
    height: 600px ;
    border: none; /* Opcional: quitar borde del iframe */
}

.container-title {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Consultas de medios para pantallas pequeñas */
@media (max-width: 768px) {
    .pdf-container {
        width: 99%;
        height: 100% ; /* Ajusta la altura para pantallas más pequeñas */
    }
}

@media (max-width: 480px) {
    .pdf-container {
        width: 99% ;
        height: 100% ; /* Ajusta la altura para pantallas muy pequeñas */
    }
}
/*  */
.container-copyright {
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}